<div class="container">
  <div class="container-fluid p-5">

    <div class="col-md-12 text-center mb-3">
      <h1 class="fw-bold">Alticci sequence</h1>
    </div>

    <div class="mb-3">
      <input type="number" [(ngModel)]="n" class="form-control" placeholder="Insira o índice desejado">
    </div>

    <div class="col-md-12 text-center mb-5">
      <button class="btn btn-primary btn-md" type="button" (click)="handleClick()">Calcular</button>
    </div>

    <div class="col-md-12 text-center" *ngIf="value">
      O valor correspondente é {{value}}
    </div>
  </div>
</div>
